@model IEnumerable<FoxdonRetail.Models.ProductTbl>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductMRP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SellingPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FoxdonPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryTbl.CatName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShopTbl.ShopName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductMRP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SellingPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FoxdonPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryTbl.CatName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShopTbl.ShopName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProductID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProductID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProductID })
        </td>
    </tr>
}

</table>
